<!DOCTYPE html>

<html>
  <head>
    <title>Help</title>
    {{!-- ikonat --}}
    <link rel="icon" href="/img/help.png">

    {{!-- ikonat --}}

    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
        {{>header}}
        {{!-- plus foto --}}
        {{!-- <img class ="portrait" src="/img/me.png" /> --}}
        {{!-- plus foto --}}

        <p>{{helpText}}</p>
    </div>

    {{>footer}}
  </body>
</html>